@inherits ComponentBase<MinefieldViewModel>
@inject NavigationManager Navigation

<div>
    @if (ViewModel?.GameState?.Board is { } board)
    {
        <div style="--columns: @board.Width; --rows: @board.Height" class="minefield">
            @for (int row = 0; row < board.Height; row++)
            {
                @for (int col = 0; col < board.Width; col++)
                {
                    BoardSpace space = board[col, row];
                    if (space.ClaimedByPlayer is null)
                    {
                        <button class="cell" disabled="@(ViewModel?.GameState?.CurrentPlayerId != ClientPlayer?.Id)"
                @onclick="() => OnOpenCellClick(space)">
                        </button>
                    }
                    else
                    {
                        @if (space.HasMine)
                        {

                            <button class="cell">
                                @if (ViewModel?.MineOpenedByPlayer != null &&
                               (space.X == ViewModel?.MineOpenedByPlayer.X && space.Y == ViewModel.MineOpenedByPlayer.Y))
                                {
                                    <img src="@GetPlayerFlag(space.ClaimedByPlayer)" alt="flag" class="animateFlag" />
                                }
                                else
                                {
                                    <img src="@GetPlayerFlag(space.ClaimedByPlayer)" alt="flag" />
                                }
                            </button>
                        }
                        else
                        {
                            <b class="cell opened" style="color:@GetCellColor(@space.AdjacentMines)">
                                @space.AdjacentMines
                            </b>
                        }
                    }
                }
            }
        </div>
    }
</div>
