@inherits ComponentBase<MinefieldViewModel>

@if (ViewModel?.GameState?.Board is { } board)
{
    <div class="grid">
        <div style="--columns: @board.Width; --rows: @board.Height" class="minefield">
            @for (int row = 0; row < board.Height; row++)
            {
                @for (int col = 0; col < board.Width; col++)
                {
                    BoardSpace space = board[col, row];
                    if (space.ClaimedByPlayer is null)
                    {
                        <button class="cell" @onclick="@(_ => ViewModel.OpenCellCommand.Execute(space))">
                        </button>
                    }
                    else
                    {

                        @if (space.HasMine)
                        {
                            <button class="cell">
                                <img src="@GetPlayerFlag(space.ClaimedByPlayer)" alt="flag" />
                            </button>
                        }
                        else
                        {
                            <b class="cell opened" style="color:@GetCellColor(@space.AdjacentMines)">
                                @space.AdjacentMines
                            </b>
                        }
                    }
                }
            }

            @if (GameState?.GameStatus == GameStatus.GameOver)
            {
                <div>
                    <p>@GameState.CurrentPlayer!.Name has won!</p>
                    <p>With a score of @GameState.CurrentPlayer.Score</p>
                </div>
            }
        </div>
    </div>
}
