@inherits ComponentBase<IndexViewModel>
@page "/"
<div id="mobile-warning">If you are on a mobile device, please turn your phone sideways to play.</div>

<HeroImage>
    <Content>
        <div style="height: 20vh;"></div>
        <div class="window" style="width: 300px">
            <div class="title-bar">
                <div class="title-bar-text">Game Options</div>
            </div>
            <div class="window-body">
                
                <div class="field-row-stacked">
                    <label for="player-name">Your Name</label>
                    <InputText id="player-name" @bind-Value="ViewModel.PlayerName"></InputText>
                </div>
                <div class="field-row-stacked">
                    <InputRadioGroup @bind-Value="@ViewModel.NewGameMode" Name="game-mode">
                        <InputRadio Value="@NewGameMode.JoinPublicGame" Name="game-mode" id="gameModeJoinPublic" />
                        <label for="gameModeJoinPublic">Join Game</label>
                        <InputRadio Value="@NewGameMode.JoinPrivateGame" Name="game-mode" id="gameModeJoinPrivate" />
                        <label for="gameModeJoinPrivate">Private Game</label>
                    </InputRadioGroup>
                </div>
                <div class="field-row-stacked" style="@(ViewModel.NewGameMode is NewGameMode.JoinPublicGame ? "" : "display:none")">
                    <button @onclick="ViewModel.JoinRandomGame">
                        Join Game
                    </button>
                </div>
                <div class="field-row-stacked" style="@(ViewModel.NewGameMode is  NewGameMode.JoinPrivateGame ? "" : "display:none")">
                    <label for="game-name">Game Code</label>
                    <InputText id="game-name" @bind-Value="ViewModel.GameName"></InputText>

                    <button @onclick="ViewModel.NavigateToGameBoardAndJoinGame">
                        Join Game
                    </button>
                </div>


                <br />
                <br />

                <div class="field-row-stacked">
                    <button @onclick="ViewModel.NavigateToHowTo">
                        How to play
                    </button>
                </div>


            </div>
        </div>

    </Content>
</HeroImage>
